{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>{% block titulo %}Preçômetro{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'app:home' %}">Precometro</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="{% url 'app:home' %}">Início</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'app:produto' %}">Cadastrar Produto</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'app:supermercado' %}">Cadastrar Supermercado</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'app:preco' %}">Registrar Preço</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div class="mt-4">
    {% block body %}{% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>